@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Writer Ajax Operations</h1>
<br />
<button type="button" id="btnGetList" class="btn btn-outline-primary">Writer List</button>
<button type="button" id="btnGetById" class="btn btn-outline-success">Get Writer</button>
<button type="button" id="btnAddWriter" class="btn btn-outline-info">Add Writer</button>
<button type="button" id="btnDelWriter" class="btn btn-outline-danger">Delete Writer</button>

<br />
<br />
<div id="writerList">
    writers here...
</div>
<br />
<div id="getWriter">
    here will come only one writer
</div>
<div>
    <input type="text" id="writerid" placeholder="Enter Writer Id" class="form-control" />
</div>
<br />
<div>
    <h3>Add Writer</h3>
    <input type="text" class="form-control" id="txtWriterMail" placeholder="Writer Mail" />
    <input type="text" class="form-control" id="txtWriterName" placeholder="Writer Name" />
    <input type="text" class="form-control" id="txtWriterPass" placeholder="Writer Password" />
    <br />
</div>
<br />
<div>
    <input type="text" class="form-control" id="txtDelId" placeholder="Writer Id For Delete" />
</div>

@section scripts{
<script>
    $("#btnGetList").click(function() {
          $.ajax({
              contentType: "application/json",
              dataType: "json",
              type: "Get",
              url: "/Admin/Writer/WriterList/",
              success: function(func){
                  let w = jQuery.parseJSON(func);
                  console.log(w);
                  let tablehtml = "<table class=table table-bordered><tr><th> Writer Id </th> <th> Writer Name </th></tr>";
                  $.each(w,(index, value) => {
                      tablehtml+=`<tr><td>${value.WriterID}</td> <td>${value.WriterName}</td> </tr>`
                  });
                  tablehtml+="</table>";
                  $("#getWriter").html(tablehtml);
              }
          });
    });

    $("#btnGetById").click(x => {
        let id = $("#writerid").val();
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "get",
            url: "/Admin/Writer/GetWriterByID/",
            data: {writerid:id}, //yukaridaki degisken bizim controllerdaki degiskenle iliskili
            success: function(func){
                let w = jQuery.parseJSON(func);
                console.log(w);

                let tablehtml = "<table class=table table-bordered><tr><th> Writer Id </th> <th> Writer Name </th></tr>";
                $.each(w,(index, value) => {
                    tablehtml+=`<tr><td>${value.WriterID}</td> <td>${value.WriterName}</td> </tr>`
                });
                tablehtml+="</table>";
                $("#writerList").html(tablehtml);
            }
        });
        console.log(id);
    });

    $("#btnAddWriter").click(function(){
        let writer = {
            //Id: $("#txtWriterId").val(),
            Mail : $("#txtWriterName").val(),
            Name: $("#txtWriterName").val(),
            Password: $("#txtWriterPass").val()
        };

        $.ajax({
            type:"post",
            url:"/Admin/Writer/AddWriter",
            data: writer,
            success: function(func){
                let result = jQuery.parseJSON(func);
                alert("Writer Added Successfully.");
            }
        });
    });

    $("#btnDelWriter").click(x=>{
        let id = $("#txtDelId").val();

        $.ajax({
            url:"/Admin/Writer/DeleteWriter/"+id,
            type: "post",
            dataType: "json",
            success:function(func){
                alert("Writer Deleted Successfully.");
            }
        });
    });
</script>
 }